// 지역 믹스인(잊어주세요!!!)

.card {
    @mixin box {
        width: 100px;
        height: 100px;

    }

    @include box;
    background-color: darkslategray;
}

// red
// .profile {
//     @include box;
//     background-color: red;
// }