// content는 없어도 되는 문법으로 생각할 수 있으나, 용도가 확실한 문법이다.

// @mixin sample {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 200px;
// }

// .one {
//     @include sample;
//     background-color: red;
// }

// .two {
//     @include sample;
//     background-color: blue;
// }

@mixin sample {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    @content;
}

.one {
    @include sample {
        background-color: red;
    }
}

.two {
    @include sample {
        background-color: green;
    }
}